@import '../../styles/variables.scss';
.title{
    color: #edef70; 
    width: 100%; 
    padding-bottom: 10px; 
    border-left:12px solid #EDEF70;
    padding: 10px;
    font-size: 2rem;
}

#myProyectsContainer {
  // height: $section-height;
  .developedProyects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .proyectCard {
      margin: 20px;
      flex-grow: 1;
      flex-basis: 200;
    }
  }
}