$primary-color: #edef70;
$white-text: whitesmoke;
$black-background: #1a1a1a;
$section-height: 620px;
$header-height: 80px;
$mobile-devices-width: 721px


// :export {
//     primaryColor: $primary-color;
//     whiteText: $white-text;
//     blackBackground: $black-background;
// }